/*GLOBAL*/

* {box-sizing: border-box;}
body {overflow-x: hidden;}


/*MAIN PART*/

#main-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.card {
    display: block;
    margin: 1%;
    background-color: #f2f2f2;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 25px -5px #00000090;
    border: 1px solid #0000001c;
}

.card img {
    width: 100%;
    height: 150px;
}

.card button, #sbmt, .user-btn {
    background-color: #ff6600;
    border: none;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.card button:hover, #sbmt:hover {
    cursor: pointer;
}

/*CTA FOR USER*/

#cta-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(/assates/front-page-img/img-3.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.cont {
    background-color: green;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid #ffffff98;
    backdrop-filter: blur(5px);
    text-align: center;
    width: 450px;
}


/*FORM*/

#form-div {
    display: flex;
    flex-direction: column;
    margin: 5% 15% 5% 15%;
}

.form-cont {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 25px -5px #00000090;
    border: 1px solid #0000001c;
}

#quote-form {
    display: flex;
    flex-direction: column;
}

#quote-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

#geneder {
    flex-direction: row !important;
}
